<div class="sub-nav">
  <div class="row no-margin-right">
    <div class="sub-header">Glossary</div>
  </div>
  <div class="row no-margin-right">

    <div class="col-md-8">
      <form class="form-inline search-form">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Search" id="search" ng-model="search" />
          <button class="btn " ng-click="doSearch()">Ok</button>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <select class="form-control languages-glossary" name="languages" ng-change="getLanguage()" ng-model="languageSelected">
        <option selected value="">Language</option>
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </div>

  </div>
  <br />
  <br />
</div>

<div  class="scroll-container" when-scrolled='loadMore()'>

  <div ng-repeat='d in data track by d.id' class="block">
    <div class="row">
      <h3 class="glossary-header-text"><a href="https://healthcare.gov{{::d.url}}" target="_blank">{{::d.title}}</a></h3>
      <p class="text-content" ng-bind-html="printHtml(d.content)"></p>
    </div>
  </div>
</div>

<div show-during-resolve class="loading-spinner"></div>
